.navigation-bar {
  background-color: #202b36;
  display: grid;
  height: 48px;
  grid-template-columns: 1fr 1fr;
}

.navigation-bar--app-brand {
  color: white;
  display: grid;
  grid-template-columns: 1fr 12fr;
  img {
    height: 30px;
    width: 30px;
    justify-self: center;
    align-self: center;
  }

  span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.4rem;
    justify-self: start;
    align-self: center;
  }
}

.navigation-bar--user {
  display: grid;

  .user-not-signed {
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    justify-content: end;

    form {
      width: 80%;
      margin-left: 15%;
      input {
        font-size: 0.8rem;
      }
    }
  }
  .user-signed {
    display: grid;
    grid-auto-flow: column;
    color: white;
    align-self: center;
    justify-items: end;
    justify-self: end;
    width: 40%;

    span {
      font-weight: lighter;
    }
  }


  .login-btn {
    margin-right: 0.8rem;
    font-weight: bold;
    font-size: 0.75rem;
  }


  
}
